body {
  font-family: Arial, sans-serif;
  margin: 20px;
  background: grey;
}

h2{
  color: aliceblue;
  font-family: 'Times New Roman', Times, serif;
}

h1 {
  color: whitesmoke;
  text-align: center;
  font-size: 60px;
  font-family: 'Times New Roman', Times, serif
}
p{
  color: whitesmoke;
  font-family: 'Times New Roman', Times, serif;
  font-size: 35px;
}

h5{
  color: whitesmoke;
  font-family: 'Times New Roman', Times, serif;
  font-size: 20px;
}

#pesquisa {
  padding: 25px;
  width: 350px;
  margin-bottom: 15px;
  border: 1px solid #ff0202;
  border-radius: 5px;
  display: flex;
  margin : 0 auto;
}

table {
  border-collapse: collapse;
  width: 100%;
  background: lightgrey;
  box-shadow: 0px 2px 5px rgba(0,0,0,0.1);
}

th, td {
  border: 1px solid #030303;
  padding: 8px 12px;
  text-align: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.potencialmente-fatal{
  background-color: #cc0000;
  color: black;
}
.doenca-grave{
  background-color: #c5692c;
  color: black;
}
.cronica-controlavel{
  background-color: #ffcc00;
  color: black;
}
.aguda-menor-gravidade{
  background-color: #66ff00;
  color: black;
}
.dependem-fatores{
  background-color: violet;
  color: black;
}

th {
  background: blueviolet;
  color: white;
}


